@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Karla);

.vertical-center {

  background-image: url('http://i.imgur.com/gpb6vUx.jpg');
  background-repeat: no-repeat;
  background-size: cover;
	color:#FFF !important;
	font-family:'Open Sans';
  margin-bottom:0;
  padding-top:10%;
}

.header-panel {
  background:#EEEEEE;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  position: absolute;
  bottom: 150px;
  right: 0;
}

.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh;
}

.row {
  position: relative;
}

a {
	text-decoration:underline;
	background:none;
}

*,a {
  color:#333333;
}

a:hover {
  color:#808080;
}
