@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Karla);

* {
	background-color:#2C3E50 !important;
	color:#dedede !important;
}

a {
	text-decoration:underline;
}
